.list-wrap {
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    flex-direction: column;
    gap: 1em;
}

.list-wrap {
    overflow: auto;
}

.list-wrap>div {
    flex: 1;
    border: 8px solid #333;
    background: #fff !important;
    max-width: 100%;
    /* min-width: 500px; */
}

.list-wrap>div>div>div:first-of-type {
    background: #333 !important;
    font-weight: bold;
    color: #fff;
}

.list-wrap>div img:not(.door) {
    filter: invert(1);
}

.list-wrap>div>div:not(:first-of-type) {
    margin-top: 2em;
}

header {
    padding: 1em 0;
}

header img {
    margin: 0.25em auto;
}

main {
    padding: 0 !important;
    background: linear-gradient(to bottom, #3c2387, #3b1051) !important;
    background: #fff !important;
}

main.login-page-main {
    background: #fff !important;
    padding-top: 2.5em !important;
}

.list-wrap {
    margin: 1em auto;
    width: min(1024px, 96%);
}

header {
    background: #111;
}

.first-letter {
    color: yellow;
}

.goto-topic:hover {
    font-weight: bold;
}

.header-title-pill div:first-letter {
    color: #ff0;
}

.header-title-pill div {
    background: rgb(21, 21, 21) !important;
    font-weight: bold;
    color: #fff;
}

.header-inner {
    width: min(1024px, 96%);
    margin: 0 auto;
    position: relative
}

.header-inner .backlink {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.header-inner .backlink:hover {
    filter: brightness(0) saturate(100%) invert(80%) sepia(100%) saturate(500%) hue-rotate(5deg);
}

.board {
    background: #fff !important;
}

.board img[alt="delete"] {
    filter: invert(1);
    transition: 1s;
}

.board img[alt="delete"]:hover {
    filter: invert(0.6);
    filter: brightness(0) saturate(100%) invert(80%) sepia(100%) saturate(500%) hue-rotate(5deg);
}

img[alt="send"]:hover {
    filter: invert(1);
    transition: 1s;
}

img[alt="send"] {
    filter: invert(0.6);
    filter: brightness(0) saturate(100%) invert(80%) sepia(100%) saturate(500%) hue-rotate(5deg);
}

section.left,
section.right>div:first-of-type {
    background: #222 !important;
}

section.right>div:last-of-type {
    border-radius: 14px;
    border: 2px dashed rgb(73 73 73 / 65%);
    padding: 22px;
    min-height: 120px;
    display: grid;
    place-items: center;
    color: rgb(0 0 0);
    opacity: 0.9;
    background: transparent !important;
}

.add-url {
    transition: 0.5s;
}

.add-url:hover {
    background: yellow !important;
    color: #222 !important;
}

.drop-area {
    color: #222 !important;
    border-color: #222 !important;
}

body {
    color: #000 !important;
}

.edit-btn:hover,
.del-btn:hover {
    filter: brightness(0) saturate(100%) invert(80%) sepia(100%) saturate(500%) hue-rotate(5deg);
}

.Fanio,
.Nantoka {
    border-radius: 2px;
    padding: 0.25em 0.5em;
    margin-left: 0.25em;
    font-size: 0.8em;
}

.Fanio {
    background: rgb(163, 10, 180);
    color: #fff;
}

.Nantoka {
    background: green;
    color: #fff;
}

.fileTitle {
    cursor: pointer;
    transition: 0.25s;
}

.fileTitle:hover {
    transform: scale(1.2);
}

.goto-topic {
    border-bottom: 1px solid #888;
    margin: 0 !important;
    padding: 1em;
}

.list-wrap>div>div>div:first-of-type.cat-title {
    padding: 0.25em 0.5em;
    color: #000 !important;
    background-color: #fff !important;
    border: 2px solid #222;
    border-radius: 4px;
}

.btns-wrap {
    min-width: 64px;
    display: flex;
    align-items: flex-start;
}